// Modal styles

@use "../../styles/partials/colours.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.modal {
  width: 95%;
  background-color: $EAPaleGrey;
  position: fixed;
  z-index: 1;
  height: 100%;
  margin-left: -1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.875rem;
  border: 1px solid $EAGrey;
  box-shadow: 3px 3px 5px gray;
  right: 120%;
  transition-duration: 2s;
  &.active {
    right: 2.5%;
    transition-duration: 2s;
  }
  &__toggle {
    cursor: pointer;
    font-size: 0.875rem;
    color: $EABlack;
    text-decoration: none;
    margin-left: 3rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
