/** Forms styles */

@use "../partials/colours.scss" as *;
@use "../partials/variables.scss" as *;

.input {
  font-size: 0.8125rem;
  border-radius: $formRadius;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid $EAPaleGrey;
  margin-bottom: 1rem;
  font-family: inherit;
  &:active {
    border-color: $EASalmon;
  }
  &.error {
    border-color: $EARed;
  }
  &__search {
    // width: 90%;
    margin-right: 0.5rem;
  }
}

.form__input-label {
  font-size: 0.6875rem;
  color: $EAGrey;
  width: 100%;
}
