/* Global styles */

@use "../partials/colours.scss" as *;

main {
  // background-color: $ISLightGrey;
  &::before {
    content: "";
    background: url("../../assets/images/design/so-white.png");
    background-size: cover;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

a {
  text-decoration: none;
  color: $EABlack;
}

/* Max width wrapper */
.max-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.error {
  color: $EARed;
}
