/** Heading Styles */

@use "../partials/colours.scss" as *;

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  color: $EABlack;
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  color: $EABlack;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
