// List styles

@use "../partials/colours.scss" as *;
@use "../partials/variables.scss" as *;

.list {
  list-style: none;
  padding-left: 0;
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    padding: 0.5rem;
    background-color: $EAWhite;
    border-radius: $formRadius;
    // box-shadow: inset 2px 1px 1px $EAGrey; FIX
    line-height: 2.5rem;
    // border: 1px solid $EAPaleGrey;
  }
}
