// Site Header styles

@use "../../styles/partials/colours.scss" as *;

.site-header {
  padding: 1rem;
  background-color: $EAPaleGrey;
  box-shadow: 0 4px 3px -2px $EABlack;
}
.site-logo {
  display: inline-block;
  width: 100%;
  &__image {
    width: 100%;
  }
}
